@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'neue';
	src: url(../assets/fonts/NHaasGroteskTXPro-65Rg.ttf) format('truetype');
  }
  

@layer base {
	:root {
		color-scheme: light;
		--theme-bg: 0deg 0% 98%;
		--theme-link: 240deg 100% 97%;
		--theme-text: 0deg 0% 7%;
		--theme-accent: 240deg 100% 97%;
		--theme-accent-2: 0deg 0% 10%;
		--theme-accent-3: 0deg 0% 20%;
		--theme-quote: 0deg 0% 7%;
		--theme-color-border: 0deg 0% 85%;
	}

	/* :root.dark {
		color-scheme: dark;
		https://tailwindcss.com/docs/customizing-colors#using-css-variables
		--theme-bg: 0deg 0% 20%;
		--theme-link: 240deg 100% 97%;
		--theme-text: 0deg 0% 98%;
		--theme-accent: 240deg 100% 97%;
		--theme-accent-2: 0deg 0% 10%;
		--theme-accent-3: 0deg 0% 20%;
		--theme-quote: 0deg 0% 98%;
		--theme-color-border: 0deg 0% 85%;
	} */

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-neue text-base font-normal text-textColor;
	}

	img {
		image-rendering: -moz-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: pixelated;
		-ms-interpolation-mode: nearest-neighbor;
	}


	.book {
		padding: 10px;
	}

	.book img {
		height: 10vw;
		box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
	}

	@media (max-width: 640px) {
		.book img {
			height: 35vw;
		}
	}

	img {
		overflow-clip-margin: content-box;
		overflow: clip;
	}

	.external-link {
		@apply rounded-sm bg-link;
		border-bottom: 1px solid #8a88e6;
	}


	.course-name {
		display: none;
  		position: absolute;
  		padding: 10px;
	}

	.course-link:hover + .course-name {
		display: block;
	}

	.internal-link {
		transition: background 300ms;
		border-bottom: 1px solid hsl(0deg 0% 85%);
	}

	.internal-link:hover {
		background: #fffaf1 !important;
	
		/* color: black !important; */
	  }

	  hr {
		width: 100%;
		border: 0;
		height: 1px;
		margin: 1.5em 0;
		background: #d9d9d9;
	}
}
