@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 0deg 0% 7%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-accent-3: 203deg 11% 15%;
		--theme-quote: 351deg 66% 48%;
	}

	:root.dark {
		color-scheme: dark;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 0deg 0% 93%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-accent-3: 220deg 3% 79%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-bricolage text-base font-normal text-textColor antialiased;
	}

	img {
		image-rendering: -moz-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: pixelated;
		-ms-interpolation-mode: nearest-neighbor;
	}

	.book img {
		padding: 10px;
		height: 10vw;
	}

	@media (max-width: 640px) {
		.book img {
			height: 35vw;
		}
	}

	img {
		overflow-clip-margin: content-box;
		overflow: clip;
	}

	.external-link {
		@apply cactus-link inline-block rounded-sm bg-link bg-opacity-30 hover:bg-opacity-40;
	}

	.course-name {
		display: none;
  		position: absolute;
  		padding: 10px;
	}

	.course-link:hover + .course-name {
		display: block;
	}
}
