---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import meImg from "@/assets/me/me.jpg";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<!-- <Image
			src={meImg}
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			loading="eager"
			fetchpriority="high"
			height={300}
			class="mb-4 sm:mb-0"
		/> -->
		<div class="flex flex-col-reverse justify-center gap-3 sm:flex-row">
			<div>
				<p>
					Hi, I'm Arpit. I am in my fourth year at UBC, majoring in Mathematics and Computer
					Science. I find these disciplines fascinating and greatly rewarding - there are only a few
					things in life that feel as good as flowing through a proof or coming up with neat
					abstractions. I enjoy building software and am always learning about new technologies and
					design principles. Outside of school, I am interested in art and weightlifting. Recently,
					I have gotten into running and am learning to play the Ukulele.
				</p>
				<br />
				<p>
					I have interned at <a href="https://www.visier.com" class="external-link">Visier</a>
					 as a Site Reliability Engineer - the most influential experience in my career so far. I
					participated in infrastructure design discussions, optimized build pipelines, worked on
					several security improvements, wrote lambdas and ton of IaC modules, witnessed production
					fires and postmortems and spent hours on end reading about AWS and Azure services. The
					world of SRE was very new to me but it has fundamentally changed how I think about
					building software and is definitely a role I see myself in down the line.
				</p>
				<br />
				<p>
					I have also interned at <a href="https://www.vidyard.com" class="external-link">Vidyard</a
					> as a Software Engineering Intern on the Upgrade (Billing) team. There, I worked with
					Ruby on Rails and contributed to the migration to Stripe in order to enable self-serve
					purchases. This was my first professional experience and my first time using Ruby. One of
					my highlights of this internship was discovering Ruby's metaprogramming capabilities.
				</p>
			</div>
		</div>
		<p>
			My goals in life are rather simple. I just want to continuously push the limits of my
			capabilities and learn as much as I can from the extremely talented people I have the fortune
			of conversing with. I hope to be a productive and impactful software engineer capable of
			leading large-scale projects - but more importantly, I hope I can bring some positivity and
			smiles in the lives of those around me.
		</p>
	</div>
</PageLayout>
