---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import FormattedDate from "../FormattedDate.astro";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { post, as: Tag = "div", withDesc = false } = Astro.props;
const postDate = post.data.updatedDate ?? post.data.publishDate;
---

<FormattedDate
	date={postDate}
	class="text-gray-600 dark:text-gray-400"
	style={`min-width: ${withDesc ? "105px" : "120px"}`}
/>
<Tag>
	{post.data.draft && <span class="text-red-500">(Draft) </span>}
	<a href={`/posts/${post.slug}/`} class="internal-link" data-astro-prefetch>
		{post.data.title}
	</a>
</Tag>
{withDesc && <p class="line-clamp-3 block text-accent-3">{post.data.description}</p>}
